* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

:root {
  --primary-color: #ec5242;
  --secondary-color-1: #272a31;
  --secondary-color-2: #d3d3d3;
}

body {
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
}

#homepage {
  border: 0px solid red;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.highlevel-section {
  padding: 3%;
  border: 0px solid blue;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#hero-section {
  background: #d3d3d3;
  background-image: url(./assets/mobilebackground.jpg);
}

#mainprogram-section {
  background: var(--secondary-color-1);
  background-image: url(./assets/main-program-bg.jpg);
  background-repeat: repeat;
}

#featuredspeakers-section {
  /* background-image: url(../images/hero-image.jpg); */
  background: #ffffff;
}

.highlevel-section .highlevel-section-div {
  border: 0px solid green;
  width: 100%;
}

.highlevel-section .highlevel-section-div .highlevel-section-div-1 {
  border: 0px solid yellow;
  display: grid;
  grid-template-columns: 15% 25% 1fr;
  padding: 5%;
  row-gap: 5%;
  background: rgba(255,255,255,0.1);
}

.highlevel-section .highlevel-section-div .highlevel-section-div-2 {
  border: 0px solid yellow;
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 5%;
}

#header-menu-1-2 {
  display: none;
}

#button-2 {
  display: none;
}

#head-7,
  #head-8,
  #head-9,
  #head-10 {
    display: none;
  }

  #partners {
    display: none;
  }

/* Styles for The 768px and Bigger Screens (Desktop Version) */
@media only screen and (min-width: 768px) {

  #head-1 {
    font-size: 2.5rem !important;
    padding-left: 10%;
  }

  #head-2 {
    font-size: 4.5rem !important;
    padding-left: 10%;
  }

  #head-3 {
    /* font-size: 4.5rem !important; */
    /* padding-left: 10%; */
    max-width: 650px;
    margin-right: 30%;
  }

  #head-3-i {
    /* font-size: 4.5rem !important; */
    /* padding-left: 10%; */
    max-width: 600px;
  }

  #head-4 {
    font-size: 2.5rem !important;
    margin-left: 18%;
  }

  #head-5 {
    font-size: 1.2rem !important;
    margin-left: 18%;
  }

  #head-6 {
    display: flex;
    flex-direction: row !important;
    column-gap: 0.2% !important;
    justify-content: center;
  }

  #head-6-i,
  #head-6-ii,
  #head-6-iii,
  #head-6-iv,
  #head-6-v {
    display: flex;
    flex-direction: column !important;
    padding: 1.5% !important;
    width: 150px;
    height: fit-content;
    font-size: 0.6rem;
  }

  #head-6-i:hover,
  #head-6-ii:hover,
  #head-6-iii:hover,
  #head-6-iv:hover,
  #head-6-v:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
  }

  #button-1 {
    display: none;
  }

  #button-2 {
    display: block;
  }

  #button-3 {
    display: none;
  }

  #head-7,
  #head-8,
  #head-9,
  #head-10 {
    display: grid;
  }

  #block-78910 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    padding: 0% 10%;
  }

  #partners {
    display: flex;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: #ec5242;
    color: #ec5242 !important;
  }

  #hamburger-menu {
    display: none;
  }

  #header-menu-1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  #header-menu-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 0 10%;
    background: #272a31;
    color: #d3d3d3;
  }

  #header-menu-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0 10%;
    background: #ffffff;
    color: #272a31;
  }

  #spacer-menu-1 {
    width: 65%;
  }
}